* {
    padding: 0px;
    margin: 0px;
  }
  canvas {
    /* border:black solid 2px; */
    display: block;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 15px 15px 25px rgb(24, 24, 24);
  }

  body{
    overflow-x: hidden;
    background:#383D45;
    font-family: 'Ubuntu', sans-serif;
  }
  div {
    width: 230px;
    margin-top: 15px;
    margin-left: 10px;
  }

.stroke{
  color:white;
}

.red{
  background-color: rgba(255, 0, 0, 0.2);
  padding:10px;
  border:2px solid red;
  color:red;
}

.green{
  background-color: rgba(43, 255, 0, 0.2);
  padding:10px;
  border:2px solid lightgreen;
  color:lightgreen;
}

.blue{
  background-color: rgba(0, 119, 255, 0.2);
  padding:10px;
  border:2px solid lightblue;
  color:skyblue;
}

button {
  cursor: pointer;
  position: relative;
  background-color: #212531;
  color: rgb(209, 106, 204);
  padding-top: 18px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 18px;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid rgba(209, 106, 204, 0.5);
}


button:hover {
  /* transform:scale(1.05); */
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: white;
  background: rgba(235, 37, 225, 0.75);
  border: 2px solid rgba(235, 37, 225, 0.75);
  transition: 0.25s;
}

button:active {
  transform:scale(0.95);
  border: 2px solid rgba(0, 0, 0, 0.75);
  border: 2px solid rgb(150, 0, 92);
  background: rgb(168, 0, 104);
}

a{
  padding: 10px;
  background: #3E52B3;
  display:block;
  border-radius: 10px;
  margin: 10px;
}

a:hover{
  background: skyblue;
}

li{
  font-size: 18pt;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  background: #E82A53;
  display:block;
  margin: 20px;
}




