* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(28, 35, 44);
  background-color: #e5e5e5;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.cont h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  background-image: linear-gradient(
    to right,
    rgb(0, 189, 132),
    rgb(2, 169, 219)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 180, 156);
  box-shadow: -5px -5px 15px rgb(255, 255, 255), 5px 5px 25px rgba(0, 237, 245, 0.4);
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: -5px -5px 15px rgb(153, 255, 241), 5px 5px 55px rgba(0, 237, 245, 0.4);
}

.card__image-container {
  z-index: -1;
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card {
  border-radius:20px;
}

img {
  border-radius:20px;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ecf0f1;
}

.card__content {
  background: linear-gradient(
    to bottom right,
    rgb(1, 196, 180),
    rgb(0, 132, 155)
  );
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

a {
  margin-left: auto;
  padding: 5px 20px;
  border-radius: 20px;
  text-decoration: none;
  background: linear-gradient(
    to bottom right,
    rgb(1, 186, 196),
    rgba(0, 181, 212, 0.37)
  );
  box-shadow: rgba(0, 87, 145, 0.527) 0px 2px 5px;
}

a:hover {
  background: linear-gradient(
    to bottom right,
    rgb(255, 206, 73),
    rgb(255, 115, 0)
  );
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
