
<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="preload" href="layout/hover.mp3" /> -->
    <script src="main.js"></script>
    <link rel="stylesheet" href="main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400"
      rel="stylesheet"
    />
    <title>Games</title>
  </head>
  <body>
    <div class="container">
      <div class="card" id="1">
        <a href="#" class="title">Attai Breakout</a>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar" id="f1"></div>
        </div>
        <div class="circle">
          <div class="info">A classic and nostalgic game</div>
        </div>
      </div>
      <div class="card" id="2">
        <a href="#" class="title">Dual Pong</a>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar" id="f2"></div>
        </div>
        <div class="circle">
          <div class="info">A two player game of Pong</div>
        </div>
      </div>
      <div class="card" id="3">
        <h3 class="title">Attari Shooter</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar" id="f3"></div>
        </div>
        <div class="circle">
          <div class="info">A single player, shooting game</div>
        </div>
      </div>
      <div class="card" id="4">
        <h3 class="title">More..</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar" id="f4"></div>
        </div>
        <div class="circle">
          <div class="info">More Games will be added soon</div>
        </div>
      </div>
    </div>
    <div class="nav">
      Use
      <span id="left"> &#8592; </span>
      Arrows
      <span id="right"> &#8594; </span>
      to move
    </div>
  </body>
</html>
